{% load static %}
<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/logo.jpg' %}" class="logo" alt="">
            </a>
            <div class="col-md-4">
                <h1>JANUS TRAVEL</h1>
                &nbsp 
                <i class="fas fa-phone fa-lg"></i> <h5 class="phone">&nbsp &nbsp &nbsp (773) 763-2767</h5>
            </div>
            <div class="col-md-4 email fa-lg">
                <i class="fas fa-envelope-open"></i> contact@gmail.com
            </div>
            <div class="col-md-4 social-place">
                <div class="social text-right">
                    <a href="#">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
