h5 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}
h1, h3 {
    font-family: 'Cuprum', sans-serif;
    padding: 5px;
}
.phone {
    margin-top: -35px;
}
.social-place {
    margin-top: 0px;
}
.email {
    margin-top: 100px;
    margin-left: -375px;
}