{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <h1 class="brand"><i class="fas fa-info-circle"></i> ABOUT US</h1>
  </div>
  <hr />
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img
          src="https://lh3.googleusercontent.com/7gAg-lTsGplfOBAkHbZTQannXM0jjoaCiH1JVj3v7bIaCLWRswuh0e6yGRtoapgslcVV89jjWeFGVByi0BIFRf_a0PEByo_EGpzpMswgmHDeBlTBeKvdH4NL6vEy6HtbVYgGHxBxjQ=w2400"
          style="width: 300px; float: left; padding: 1rem;" alt="about">
        <div class="left-mar-xl brand">
          <p><b>Janus Travel</b> started in 1979 when Ted Janus was a Chicago Police Officer. Ted Janus started selling
            affordable, discount vacation packages that could be arranged on short notice primarily to law enforcement,
            fire department personnel, court personnel and federal officers.
          </p>
          <p>
            Janus Travel began as a discount travel agency on Higgins Avenue in Chicago with 3 employees in a rented
            office. In 1990, Janus Travel purchased its own office at 6121 Northwest Highway in Chicago, IL. Ted Janus
            retired from the Chicago Police Department after almost 30 years. Today, Janus Travel still sells to law
            enforcement and fire department personnel, although the clientele has greatly expanded to the general
            public.
          </p>
          <p>
            Janus Travel specializes in vacation packages to the Caribbean, Mexico, Hawaii and Las Vegas but also sells
            cruises, air only to certain domestic and international destinations, and packages to destinations all over
            the world.
          </p>
          <blockquote class="blockquote">
            <p class="mb-0">
              <i class="fas fa-quote-left"></i>
            Janus Travel strives to secure the best prices for your vacation packages!
              <i class="fas fa-quote-right"></i>
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>


{% endblock %}