{% extends 'base.html' %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="text-center">
    <div class="overlay p-3">
      <h1 class="display-4">
        <div class="card">
          <div class="card-header">
            PARTNERS AND DEALS!
          </div>
          <div class="card-body">
            <h5 class="card-title">PARTNERS AND DEALS!</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
