{% extends 'base.html' %}

{% block content %}
<!--~~~~~~~~~~~~~ MAIN_CARD ~~~~~~~~~~~~~~-->
<div class="jumbotron">
  <div class="jumbo-container">
    <div class="card card-primary padding-top-02 left-mar-neg md" id="showcase">
      <h1 class="card-header">Welcome to Janus Travel!</h1>
      <p class="lead">Since 1979 <b>Janus Travel</b> had been providing specialized vacation packages for couples and
        families all-across Chicagoland!
      </p>
      <p class="none lead">
        A reliable, friendly, family-owned company, Janus Travel features vacation packages to Mexico, Hawaii,
        Caribbean, Las Vegas and Europe, over 900 destinations in all!
      </p>
      <p class="lead">
        <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <a href="https://app.termly.io/document/cookie-policy/cfd078b6-2c88-418e-a15f-81909c567125"></a>
<!--~~~~~~~~~~~~~ LIST_GROUP ~~~~~~~~~~~~~-->
<div class="d-flex align-items-end flex-column">
<div class="list-group sm border border-dark bg-dark">
    <h5 class="mb-2 text-center">OUR PARTNERS</h5>
  <a href="https://www.funjet.com/" class="list-group-item list-group-item-action" target="_blank">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Funjet Vacations ®</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Funjet Vacations® is a tour operator with over 40 years of experience!</p>
  </a>
  <a href="https://www.funjet.com/" class="list-group-item list-group-item-action" data-toggle="list">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Apple Vacations</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Celebrating 50 years of travel innovation!</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action" data-toggle="list">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Blue Sky Tours</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Blue Sky Tours is the leading wholesaler to Hawaii and the South Pacific!</p>
  </a>
</div>
</div>
</div>
{% endblock %}
