{% extends 'base.html' %}
{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-3">
        <h1 class="display-4 mb-2">
          PARTNERS AND DEALS!
        </h1>
        <!--=====================================================-->
        <!--====================== FUNJET =======================-->
        <!--=====================================================-->
        <div class="card crd-funjet">
          <img class="card-img-top-funjet"
            src="https://lh3.googleusercontent.com/VcnlKEEpwj0HvMU3sX7ACy9ndcLkF2lBK5Bz14-Dh9DeKWcIdw_SqAC5w9lFfgsd_Oky5b_gMIla21SUme6etBuisKgtpJu0DknD5j0n2VKDahRrI-gGdx4FlLwIyzIlOTAIFgveVA=w2400"
            alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Funjet Vacations offers travel deals to your favorite destinations such as Mexico, Jamaica, the Caribbean and more. Whether you’re planning ahead or taking a last-minute trip, we have exclusive vacation deals you don’t want to miss.</p>
            <!-- Funjet button-trigger-modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              GO!
            </button>
            <!--~~~~~~~~~~~~ Funjet Modal ~~~~~~~~~~~~-->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thanks for stopping by!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    You will be leaving our website and continuing to one of our valued partners <b>FUNJET
                      VACATIONS.</b>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <a class="navbar-brand" href="https://www.funjet.com/deals/all-deals">
                      <button type="button" class="btn btn-warning">Continue for amazing deals!</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=====================================================-->
        <!--====================== SANDALS ======================-->
        <!--=====================================================-->
        <div class="card crd-sandals">
          <img class="card-img-top"
            src="https://lh3.googleusercontent.com/SoUzmrjt8lq7zjHKeBtgrbpPwiJNc1WszsGURqJigl17UhFYnJu8Hyg8criFOfx54xUBaVId8PFJH5nTHzun7kV02E73fc6Idck9j8aydWYjFZMlvsBqNVKSIEVmJ0Rfv_GueFmrkA=w2400"
            alt="Card image cap">
          <div class="card-body card-body-sandals">
            <p class="card-text">Come experience the very pinnacle of luxury Caribbean
              all-inclusive vacations for couples at Sandals Resorts. </p>
            <!-- Sandals button-trigger-modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sandals">
              CONTINUE
            </button>
            <!--~~~~~~~~~~~~ Sandals Modal ~~~~~~~~~~~~-->
            <div class="modal fade" id="sandals" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thanks for stopping by!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    You will be leaving our website and continuing to one of our valued partners <b>SANDALS RESORTS!</b>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <a class="navbar-brand" href="https://www.sandals.com/">
                      <button type="button" class="btn btn-warning">Continue to <em>Sandals</em>!</button>
                    </a>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <!--=====================================================-->
          <!--================= CELEBRITY CRUISES =================-->
          <!--=====================================================-->
          <div class="card crd-celeb" style="width: 18rem;">
            <img class="card-img-top" src="https://lh3.googleusercontent.com/JIAyf5rEZ26v6gbTX-pAYX133JvqYn8QLKhaO63_PRTfd7rIRoOhcoahcMyuCg8NQOx2rUIRkNK-pPX_o-qTWxy01DkMctIF__oDDnYs3lmi2Y7_UKzMPslhWuwKV1BS6NfuTRdMtw=w1920-h1080" alt="Card image cap">
            <div class="card-body card-body-celeb">
              <p>When you take a Celebrity cruise, you'll be in the perfect place at the perfect time, and experiencing the pinnacle of modern luxury. </p>
              <!-- Sandals button-trigger-modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sandals">
                CONTINUE
              </button>
        </div>
      </div>
    </div>
</section>
{% endblock %}