// ------ color sets ------ //

// Standard Colors
$primary: #fff;
$brand:#283D5F;
$gray: rgb(96, 94, 94);
$pastel: rgba(196, 35, 177, 0.666);

//Partner Colors
$funjet: #FFD200;
$sandals: #00B8F3;
$celebritycruise: #212E36;

//  Social Media Colors
$twitter: #1891DA;
$facebook: #3C5999;
$yelp: #D32223;

.footer,
.push {
  height: 50px;
}


