// Top Margins

.top-mar-1 {
    margin-top: 1rem;
}

.top-mar-2 {
    margin-top: 2rem;
}

.top-mar-3 {
    margin-top: 3rem;
}

// Right Margins

.right-mar {
    margin-right: 0rem;
}

.right-mar-1 {
    margin-right: 1rem;
}

.right-mar-2 {
    margin-right: 2rem;
}

.right-mar-3 {
    margin-right: 3rem;
}

.right-mar-lg {
    margin-right: 12rem;
}

// Left Margins

.left-mar-1 {
    margin-left: 1rem;
}

.left-mar-2 {
    margin-left: 2rem;
}

.left-mar-3 {
    margin-left: 3rem;
}

.left-mar-4 {
    margin-left: 4rem;
}

.left-mar-5 {
    margin-left: 5rem;
}

.left-mar-lg {
    margin-left: 8rem;
}

.left-mar-neg {
    margin-left: -14rem;
}

.left-mar-xl {
    margin-left: 18rem;
}