@media (max-width: 1024px) {
    
    #top-bar {
        h1 {
            font-size: 30px;
        }
        
    }
    
    .card {
        height: 23rem;
        margin-top: 0px !important;

        h1 {
            font-size: 20px;
        }

        h3 {
            display: none
        }
    }

    .lead {
        h1 {
            font-size: 20px;
        }
    }

    .card-img-top {
        display: none;
    }

    .hide-md-down {
        display: none;
    }

    .none {
        display: none;
    }

    .list-group {
        display: none;
     }
 
     .bg-dark {
         display: none;
     }
}

@media (max-width: 912px) {

    .card {

        h1 {
            font-size: 30px;
        }

        margin-top: 3rem;
    }

    .lead {

        font-size: 20px;
    }

    .center {

        padding-top: 4rem;

        h1 {
            font-size: 20px;
        }
    }

    .hide-md-down {
        display: none;
    }
}

@media (max-width: 863px) {

    .card {

        margin-top: 4rem;

        h1 {
            font-size: 30px;
        }

    }

    .lead {

        font-size: 20px;
    }

    .center {

        padding-top: 4rem;

        h1 {
            font-size: 20px;
        }
    }

    .hide-md-down {
        display: none;
    }
}


@media (max-width: 770px) {

    .card {

        margin-top: 8rem;

        h1 {
            font-size: 40px;
        }

    }

    .lead {
        font-size: 20px;
    }

    .logo {
        display: none;
    }


    #top-bar {

        h1 {
            font-size: 40px;
        }

        text-align: center;

        .social {
            display: none;
        }

        .fa-phone {
            display: none;
        }

        .phone {
            margin-left: -3rem;
        }
    }
}

@media (max-width: 640px) {

    #showcase {
        width: 20rem;
        margin-top: -100px !important;
        
    }

    #listings {
        height: 100px;
    }

    .card {

        margin-left: 0%;
        height: 12rem;

        h1 {
            font-size: 20px;
        }

        h3 {
            display: none
        }

    }

    .lead {
        font-size: 10px;
    }

    .none {
        display: none;
    }

    .list-group {
       display: none;
    }

    .bg-dark {
        display: none;
    }
}