@media (max-width: 991px) {
    #showcase {
        padding-top: 4rem;

        h1 {
            font-size: 40px;
        }
    }

    .center {

        padding-top: 4rem;

        h1 {
            font-size: 20px;
        }
    }

    .hide-md-down {
        display: none;
    }
}

@media (max-width: 768px) {

    #showcase {
        padding-top: 3rem;

        h1 {
            font-size: 40px;
        }

        p {
            display: none;
        }
    }

    #top-bar {
        text-align: center;

        .social {
            text-align: center !important;
        }
    }
}

@media (max-width: 576px) {

    .card-header {
        font-size: 2rem;
    }
    
    #showcase {
        h1 {
            font-size: 30px;
        }
    }

    #showcase-inner {

        h1 {
            font-size: 30px;
        }
    }

    .logo {
        @include centerer;
    }
}
