
.card-header {
    color: $funjet;
    background-color: $brand;
    font-size: 3rem;
}

.card-text {
    color: $brand;
    font-size: 1rem;
}

.social {
    color: $brand;
}

.brand {
    color: $brand;
}

.gray {
    color: $gray;
}


