
.card-header {
    color: $funjet;
    background-color: $brand;
    font-size: 2.5rem;
    padding: 0.3rem;

}

.card-text-brand {
    color: $brand;
    font-size: 1rem;
}

.card-text-wht-2 {
    color: $primary;
    font-size: 8rem;
}

.social {
    color: $brand;
}

.brand {
    color: $brand;
}

.gray {
    color: $gray;
}


