
.card-header {
    color: $funjet;
    font-size: 3rem;
}

.card-text {
    color: $primary;
    font-size: 1rem;
}

.social {
    color: $brand;
}

.subtitle-blog {
    color: $pastel;
}

.brand {
    color: $brand;
}


