// Main Colors
$primary: #fff;
$brand:#283D5F;

//Partner Colors
$funjet: #FFD200;
$sandals: #00B8F3;
$celebritycruise: #212E36;

//  Social Media Colors
$twitter: #1891DA;
$facebook: #3C5999;
$yelp: #D32223;

// _topbar
img {
    width: 100%;
}

.logo {
    width: 80px;
}

.navbar {
    opacity: 0.9;
    text-transform: uppercase;
}

.social {

    color: $twitter;

    a {
        margin-right: 0.4rem;
    }

    .fa-twitter-square {
        color: $twitter;
    }

    .fa-facebook {
        color: $facebook;
    }

    .fa-yelp {
        color: $yelp;
    }

    .email {
        color: $brand;
    }
}

.brand {
    color: $brand;
}

#showcase {
    background: url(../img/beach.jpg) no-repeat top center fixed/cover;
    position: relative;
    min-height: 650px;
    color: $primary;
    padding-top: 6rem;

    // Overlay
    .overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        min-height: 12rem;
        width: 100%;
        background: rgba(51, 51, 51, 0.8);
    }

    // Funjet
    @mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
        position: $position;
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
    }

    .crd-funjet {
        @include position(relative);

        color: $brand;

        .card-img-top-funjet {
            max-height: 9rem;
            max-width: 18rem;
        }
    }

    .card {
        padding: .8rem;
        max-width: 18rem;
        display: inline-block;
    }

    .card-title {
        color: $brand;
    }
    
    // ~~~~~~~~~~~~~~~ Sandals ~~~~~~~~~~~~~~~~~~ //
    .crd-sandals {
        @include position(relative, $top: -11rem);
    }

    .card-body-sandals {
        color: $brand;
    }

    // Modal
    @mixin centerer {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-title {
        @include centerer;
        color: $brand;
        font-size: 1.3rem;
    }

    .modal-body {
        color: $brand;
    }

    // ~~~~~~~~ celebrity cruises ~~~~~~~~ //
    .crd-celeb {
        @include position(relative, $top: -10.2rem);
    }

    .card-body-celeb {
        color: $brand;
    }

}

#showcase-inner.showcase-search {
    min-height: 270px;
}

#work {
    padding: 6rem 0;
}

.listing-preview {

    a {
        position: relative;
    }
}
// ====================================================== //
// ================== Media Queries ===================== //
// ====================================================== //
@media (max-width: 991px) {
    #showcase {
        padding-top: 4rem;

        h1 {
            font-size: 40px;
        }
    }

    .hide-md-down {
        display: none;
    }
}

@media (max-width: 768px) {
    #showcase {
        padding-top: 3rem;

        h1 {
            font-size: 40px;
        }

        p {
            display: none;
        }
    }

    #top-bar {
        text-align: center;

        .social {
            text-align: center !important;
        }
    }
}

@media (max-width: 576px) {
    
    #showcase {
        h1 {
            font-size: 30px;
        }
    }

    #showcase-inner {
        h1 {
            font-size: 40px;
        }
    }

    .crd-sandals {
        position: relative;
        margin-top: 12rem;
    }

    .logo {
        margin-left: 14rem;
    }
}
