@import 'base';
@import 'topbar';
@import 'text-styles';
@import 'mixins';
@import 'media-queries';
@import 'blog';
@import 'position';

#showcase {
    background: url(../img/beach.jpg) no-repeat top center fixed/cover;
    position: relative;
    min-height: 650px;
    color: $primary;
    padding-top: 6rem;

    // Overlay
    .overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        min-height: 20rem;
        width: 100%;
        background: rgba(51, 51, 51, 0.8);
    }

    .card {
        @include centerer;
        background-color: $brand;
    }
}