@import 'base';
@import 'topbar';
@import 'text-styles';
@import 'margins';
@import 'mixins';
@import 'media-queries';
@import 'cards';
@import 'sizes';

.jumbotron {
    background-image: url(../img/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 450px;
    margin: 0rem;
}

// Showcase-inner
#showcase-inner {
    padding-bottom: 0px !important;
}